body{
    padding:40px;
}
.container{
    margin:0;
    padding:0;
    height:100vh;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr);
    grid-gap:15px;

}

.container div{
    font-size:1.5rem;
    color:aliceblue;
}


.logo{
    background-color: rgb(165, 99, 109);
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    border-radius: 12px;
    padding:10px;
    
}

.news{
    background-color: peru;
    grid-column:2/span 4 ;
    grid-row:1/span 2 ;
    border-radius: 12px;
    padding:10px;
}

.news1{
    background-color: orangered;
    grid-row:3/span 8;
    grid-column: 1/span 3;
    border-radius: 12px;
    padding:10px;
}

.news2{
    background-color: skyblue;
    grid-column: 4/span 2; 
    grid-row:3/span 8;
    border-radius: 12px;
    padding:10px;
} 

.main{
    background-color: seagreen;
    grid-column:6/span 12;
    grid-row:1/span 7;
    border-radius: 12px;
    padding:10px;
}
.ads{
    background-color: skyblue;
    grid-column:6/span 12;
    grid-row:8/span 10;
    height:70%;
    border-radius: 12px;
    padding:10px;

}

.info{
    background-color: rgb(165, 99, 109);
    grid-column:1/span 5;
    height:150px;
    border-radius: 12px;
    padding:10px;
    
}